<footer class="p-10 text-center border-t-2 border-solid border-gray-300">
  <p class="mb-2">Made with ❤️ by <a class="text-gray-700 hover:underline font-bold" href="https://ryanccn.dev">Ryan Cao</a> with <a class="text-gray-700 hover:underline font-bold" href="https://11ty.dev">Eleventy</a></p>
  <p><a class="text-gray-700 hover:underline font-bold" href="https://github.com/ryanccn/11ty-universe">GitHub</a>
</footer>
