<header class="p-20 text-white bg-universe bg-fixed text-center">
  {% if page.url === "/" %}
  <h1 class="font-bold text-6xl mb-5">Eleventy Universe</h1>
  {% else %}
  <h1 class="font-bold text-6xl mb-5 hover:underline"><a href="/">Eleventy Universe</a></h1>
  {% endif %}
  <p class="text-xl mb-5">A universe full of Eleventy plugins, websites, and the like</p>
</header>
